---
layout: default
---

<div class="home">


  <h1>Latest Blog Posts</h1>
  <ul id="archive" class="list-unstyled">
  {% for post in site.posts limit: 5 %}
    <li class="post-{{ post.category }}">
    {% if post.external_url == nil %}
      <a href="{{ post.url }}">{{ post.title }}</a> <abbr>{{ post.date | date_to_string }}</abbr>
    {% else %}
      <a href="{{ post.external_url }}">{{ post.title }}</a> <abbr>{{ post.date | date_to_string }}</abbr>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

  <h1>Current Board Game: Brass: Birmingham</h1>
  <img src="https://s3-us-west-2.amazonaws.com/mu.majorursa.net/boardgames/bigwig-brass.jpg" height="auto" width="auto">
  <p><br><p>

  <h1>Recent Projects</h1>
  <div id="projects" class="row well well-lg">
  {% for project in site.data.projects limit: 3 %}
    <div class="project span4 col-md-4">
        <h3><a href="{{ project.project-url }}">{{ project.title }}</a></h3>
        <p>{{ project.brief-description}}</p>
        <img src="{{project.image-url}}" width="200">
    </div>
  {% endfor %}
  </div>
  <p><br><p>
  



</div>
