<div class='navbar navbar-inverse navbar-static-top'>
  <div class='container'>
    <a href='/' class='navbar-brand'> <span id="brand-title"> Major Ursa </span><span class="glyphicon glyphicon-send"></span> <span class="glyphicon glyphicon-certificate"></span> </a>

    <ul class='nav navbar-nav navbar-right nav-pills'>
      <li><a href='/archive.html'>Archive</a></li>
      <li><a href='/projects.html'>Projects</a></li>
      <li><a href='/cheatsheets.html'>Notes</a></li>
      <li><a href='/book_reviews.html'>Book Reviews</a></li>
      <li><a href='/about/'>About</a></li>
    </ul>
  </div>
</div>
